In [38]:
# Importing the library
import pandas as pd
import numpy as np

In [6]:
# Series -- It is a one dimensional labeled array capable of holding data of any type
marks = pd.Series([25, 52, 72, 45, 33])
marks # By default indexing starts from zero, and dtype is object

0    25
1    52
2    72
3    45
4    33
dtype: int64

In [11]:
data = {
    'a': 25,
    'b': 33,
    'c': 75,
    'd': 95
}
data

{'a': 25, 'b': 33, 'c': 75, 'd': 95}

In [12]:
data = pd.Series(data)
data

a    25
b    33
c    75
d    95
dtype: int64

In [15]:
dt = np.arange(10, 100, 10, dtype = 'f4')
s = pd.Series(dt, index = np.arange(11, 20))
s

11    10.0
12    20.0
13    30.0
14    40.0
15    50.0
16    60.0
17    70.0
18    80.0
19    90.0
dtype: float32

In [30]:
l = [[13, 16, 19], [56, 59, 63]]
s = pd.Series(l)
s

0    [13, 16, 19]
1    [56, 59, 63]
dtype: object

In [39]:
# Pandas dataframe
df = pd.DataFrame(data)
df

    0
a  25
b  33
c  75
d  95

In [ ]:
# Made some changes